<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enn.energy.system.dao.DictMapper">

    <!-- 根据id查询字典数据 -->
    <select id="findOne" resultType="com.enn.vo.energy.system.Dict">
        SELECT id,label FROM sys_dict WHERE id = #{id}
    </select>

    <!-- 根据字典类型和字典值查询字典标签 -->
    <select id="findDictLabelByTypeAndValue" resultType="com.enn.vo.energy.system.Dict">
        SELECT a.value,a.label,a.type,a.parent_name
        FROM sys_dict a,
            (SELECT type FROM sys_dict WHERE parent_name= #{type} AND del_flag != '1') b
        WHERE b.type = a.parent_name AND a.value = #{value}
    </select>

    <!-- 根据字典类型和字典标签查询字典值 -->
    <select id="findDictValueByTypeAndLabel" resultType="com.enn.vo.energy.system.Dict">
        SELECT a.value,a.label,a.type,a.parent_name
        FROM sys_dict a,
            (SELECT type FROM sys_dict WHERE parent_name= #{type} and del_flag !=1) b
        WHERE b.type = a.parent_name AND a.label = #{label}
    </select>

    <!-- 根据字典类型查询字典数据 -->
    <select id="findDictByType" resultType="com.enn.vo.energy.system.Dict">
        SELECT id,value,label,type,description,sort,parent_name,parent_id,
                create_by,create_date,update_by,update_date,del_flag
        FROM sys_dict
        WHERE parent_name = #{type} AND del_flag = '0' ORDER BY value
    </select>
</mapper>