<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enn.energy.system.dao.ElectricInfoMapper">

    <resultMap id="electricInfo" type="com.enn.vo.energy.system.ElectricInfo">
        <id column="id" property="id"/>
        <result column="cust_id" property="custId"/>
        <result column="unit" property="unit"/>
        <result column="basic_capacity" property="basicCapacity"/>
        <result column="ratified_max_demand" property="ratifiedMaxDemand"/>
        <result column="basic_trans_capacity" property="basicTransCapacity"/>
        <result column="basic_ele_price_max_capacity" property="basicElePriceMaxCapacity"/>
        <result column="start_execute_date" property="startExecuteDate"/>
        <result column="exe_special_price_start_date" property="exeSpecialPriceStartDate"/>
        <result column="exe_special_price_end_date" property="exeSpecialPriceEndEate"/>
        <result column="tip_ele_price" property="tipElePrice"/>
        <result column="peak_ele_price" property="peakElePrice"/>
        <result column="valley_ele_price" property="valleyElePrice"/>
        <result column="flat_ele_price" property="flatElePrice"/>
    </resultMap>

    <resultMap id="electricPriceTime" type="com.enn.vo.energy.system.ElectricPriceTime">
        <id column="id" property="id"/>
        <result column="electric_info_id" property="electricInfoId"/>
        <result column="type" property="type"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
    </resultMap>

    <insert id="addElectricInfo" parameterType="com.enn.vo.energy.system.ElectricInfo" useGeneratedKeys="true" keyProperty="id">
        insert into electric_info(cust_id,unit,
        basic_capacity,ratified_max_demand,basic_trans_capacity,
        basic_ele_price_max_capacity,start_execute_date,
        exe_special_price_start_date,exe_special_price_end_date,
        tip_ele_price,peak_ele_price,valley_ele_price,flat_ele_price)
        values(#{custId},#{unit},
        #{basicCapacity},#{ratifiedMaxDemand},#{basicTransCapacity},
        #{basicElePriceMaxCapacity},#{startExecuteDate},
        #{exeSpecialPriceStartDate},#{exeSpecialPriceEndEate},
        #{tipElePrice},#{peakElePrice},#{valleyElePrice},#{flatElePrice})
    </insert>

    <insert id="addElectricPriceTime">
        insert into electric_price_time(electric_info_id,type,start_date,end_date)
        values(#{electricInfoId},#{type},#{startDate},#{endDate})
    </insert>

    <update id="updateElectricInfo">
        update electric_info set basic_capacity=#{basicCapacity},
        ratified_max_demand=#{ratifiedMaxDemand},
        basic_trans_capacity=#{basicTransCapacity},
        basic_ele_price_max_capacity=#{basicElePriceMaxCapacity},
        start_execute_date=#{startExecuteDate},
        exe_special_price_start_date=#{exeSpecialPriceStartDate},
        exe_special_price_end_date=#{exeSpecialPriceEndEate},
        tip_ele_price=#{tipElePrice},
        peak_ele_price=#{peakElePrice},
        valley_ele_price=#{valleyElePrice},
        flat_ele_price=#{flatElePrice}
        where id = #{id}
    </update>

    <update id="updateElectricPriceTime">
        update electric_price_time set start_date=#{startDate},
        end_date=#{endDate}
        where id = #{id}
    </update>

    <update id="delElectricInfo">
        update electric_info set del_flag = '1' where id = #{id}
    </update>

    <update id="delElectricPriceTime">
        update electric_price_time set del_flag = '1' where electric_info_id = #{electricInfoId}
    </update>

    <select id="getElectricOne" resultMap="electricInfo">
        select id,cust_id,unit,
        basic_capacity,ratified_max_demand,basic_trans_capacity,
        basic_ele_price_max_capacity,start_execute_date,
        exe_special_price_start_date,exe_special_price_end_date,
        tip_ele_price,peak_ele_price,valley_ele_price,flat_ele_price
        from electric_info where id = #{id} and del_flag = '0'
    </select>

    <select id="getElectricList" resultMap="electricInfo">
        select id,cust_id,unit,
        basic_capacity,ratified_max_demand,basic_trans_capacity,
        basic_ele_price_max_capacity,start_execute_date,
        exe_special_price_start_date,exe_special_price_end_date,
        tip_ele_price,peak_ele_price,valley_ele_price,flat_ele_price
        from electric_info
        where cust_id = #{custId}
        <if test="startExecuteDate != null and startExecuteDate != ''" >
            and start_execute_date &lt;= #{startExecuteDate}
        </if>
        and del_flag = '0'
        order by start_execute_date desc
    </select>

    <select id="getElectricPriceTimes" resultMap="electricPriceTime">
        select id,electric_info_id,type,start_date,end_date
        from electric_price_time
        where electric_info_id=${electricInfoId} and del_flag='0'
        order by type,start_date asc
    </select>
</mapper>