<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enn.energy.business.dao.AccountingUnitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.enn.vo.energy.business.po.AccountingUnit">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="accounting_type" property="accountingType"/>
        <result column="cust_id" property="custId"/>
        <result column="parent_id" property="parentId"/>
        <result column="parent_ids" property="parentIds"/>
        <result column="formula" property="formula"/>
        <result column="is_temp" property="isTemp"/>
        <result column="create_by" property="createBy"/>
        <result column="create_date" property="createDate"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_date" property="updateDate"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 获取核算单元-车间 -->
    <select id="workShops" resultType="com.enn.vo.energy.business.vo.SteamUnitVo">
        SELECT
            t1.id as unitId,
            t1.`name` AS unitName
        FROM
            accounting_unit t1
        WHERE
            t1.cust_id = #{custID}
        AND t1.accounting_type = '02'
        AND t1.is_use = '1'
        AND t1.is_temp = '0'
    </select>


    <select id="getUnitByMete" resultMap="BaseResultMap">
		SELECT unit.*
        FROM cust_meter meter
        join accounting_unit unit
        on unit.id=meter.accounting_id
        WHERE meter.loop_number=#{meter} and unit.del_flag='0'
	</select>

    <select id="findLineNameByLineId" resultMap="BaseResultMap">
        SELECT
        a.id,
        a.name
        FROM accounting_unit a
        WHERE
        id in
        <foreach collection="lineIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
