<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enn.energy.business.dao.CustMapper" >


    <select id="getCustId" resultType="java.lang.String">
        select id from company_cust where relation_id = #{relationId} and del_flag='0'
    </select>

    <select id="getCustName" resultType="java.lang.String">
        select company_name from company_cust where id = #{id} and del_flag='0'
    </select>
</mapper>