<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enn.energy.business.dao.CustMeterMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.enn.vo.energy.business.po.CustMeter">
		<id column="id" property="id" />
		<result column="energy_type" property="energyType" />
		<result column="level" property="level" />
		<result column="distribution_id" property="distributionId" />
		<result column="loop_number" property="loopNumber" />
		<result column="name" property="name" />
		<result column="model" property="model" />
		<result column="rate" property="rate" />
		<result column="wifi_id" property="wifiId" />
		<result column="station" property="station" />
		<result column="property" property="property" />
		<result column="parent_id" property="parentId" />
		<result column="accounting_id" property="accountingId" />
		<result column="create_by" property="createBy" />
		<result column="create_date" property="createDate" />
		<result column="update_by" property="updateBy" />
		<result column="update_date" property="updateDate" />
		<result column="del_flag" property="delFlag" />
	</resultMap>

    <!-- 获取无表车间-生产线-表 -->
    <select id="loopNumbersForProductLine" resultType="java.lang.String">
        SELECT
            t2.loop_number
        FROM
            cust_meter t2
        WHERE
            t2.accounting_id IN ( SELECT id FROM accounting_unit WHERE accounting_type = '03' AND parent_id = #{workShopId} AND is_temp = '0' AND is_use = '1')
            AND t2.energy_type = #{energyType}
            AND t2.is_accoun = '1'
    </select>

    <!-- 根据表号获取核算单元信息 -->
    <select id="custMeterByLoopNumber" resultType="com.enn.vo.energy.business.vo.SteamUnitVo">
        SELECT
            t2.`name` AS unitName,
            t2.id AS unitId,
            t1.loop_number AS loopNumber,
            t1.energy_type AS energyType,
            t2.accounting_type AS unitType
        FROM
            cust_meter t1
            LEFT JOIN accounting_unit t2 ON t1.accounting_id = t2.id
        WHERE
            t1.loop_number = #{meterNo}
    </select>

    <select id="getCapacity" resultType="java.math.BigDecimal">
        select nameplate_capacity from
        cust_trans where distribution_id =
          (select case parent_id when '0' then id else parent_id end from electricity_distribution_room where id =
            (select distribution_id from cust_meter where loop_number='G10KV1203' and del_flag='0')
          and del_flag='0')
        and del_flag='0' order by nameplate_capacity desc limit 1
    </select>
</mapper>
