<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enn.energy.business.dao.EnergyPlanPoMapper" >
  <resultMap id="BaseResultMap" type="com.enn.vo.energy.business.po.EnergyPlanPo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="energy_type" property="energyType" jdbcType="VARCHAR" />
    <result column="energy_provider" property="energyProvider" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="BIGINT" />
    <result column="transportation_date" property="transportationDate" jdbcType="TIMESTAMP" />
    <result column="year_period" property="yearPeriod" jdbcType="VARCHAR" />
    <result column="capacity" property="capacity" jdbcType="VARCHAR" />
    <result column="contract_price" property="contractPrice" jdbcType="VARCHAR" />
    <result column="year_purchase_volume" property="yearPurchaseVolume" jdbcType="VARCHAR" />
    <result column="business_person" property="businessPerson" jdbcType="VARCHAR" />
    <result column="business_mobile" property="businessMobile" jdbcType="VARCHAR" />
    <result column="tech_person" property="techPerson" jdbcType="VARCHAR" />
    <result column="tech_mobile" property="techMobile" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  
  <sql id="where_energyplan_query_condition">
  	<where>
  		<if test="energyType != null">
  			and a.energy_type=#{energyType} 
  		</if>
  		<if test="energyTypes != null">
  			and a.energy_type in 
  			<foreach collection="energyTypes" index="index" item="item" open="(" separator="," close=")">
                #{item}       
        	</foreach> 
  		</if>
  		<if test="yearPeriod != null" >
        	and a.year_period = #{yearPeriod} 
      	</if>
      	<if test="custId != null">
      		and a.cust_id = #{custId}
      	</if>
     </where>
  </sql>
  
  <sql id="Base_Column_List" >
    id, energy_type, energy_provider, cust_id, transportation_date, year_period, capacity, 
    contract_price, year_purchase_volume, business_person, business_mobile, tech_person, 
    tech_mobile, create_by, create_date, update_by, update_date, del_flag
  </sql>
  
  <select id="queryEnergyPlanByCondition" resultMap="BaseResultMap" parameterType="com.enn.vo.energy.business.condition.EnergyPlanCondition" >
  	select a.* from energy_plan a
		<include refid="where_energyplan_query_condition" />
		order by id desc 
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from energy_plan
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from energy_plan
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.enn.vo.energy.business.po.EnergyPlanPo" useGeneratedKeys="true" keyProperty="id" >
    insert into energy_plan (energy_type, energy_provider, cust_id, 
      transportation_date, year_period, capacity, 
      contract_price, year_purchase_volume, business_person, 
      business_mobile, tech_person, tech_mobile, 
      create_by, create_date, update_by, update_date, del_flag
      )
    values (#{energyType,jdbcType=VARCHAR}, #{energyProvider,jdbcType=VARCHAR}, #{custId,jdbcType=BIGINT}, 
      #{transportationDate,jdbcType=TIMESTAMP}, #{yearPeriod,jdbcType=VARCHAR}, #{capacity,jdbcType=VARCHAR}, 
      #{contractPrice,jdbcType=VARCHAR}, #{yearPurchaseVolume,jdbcType=VARCHAR}, #{businessPerson,jdbcType=VARCHAR}, 
      #{businessMobile,jdbcType=VARCHAR}, #{techPerson,jdbcType=VARCHAR}, #{techMobile,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, now(), #{updateBy,jdbcType=VARCHAR}, now(), #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.enn.vo.energy.business.po.EnergyPlanPo" useGeneratedKeys="true" keyProperty="id" >
    insert into energy_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="energyType != null" >
        energy_type,
      </if>
      <if test="energyProvider != null" >
        energy_provider,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="transportationDate != null" >
        transportation_date,
      </if>
      <if test="yearPeriod != null" >
        year_period,
      </if>
      <if test="capacity != null" >
        capacity,
      </if>
      <if test="contractPrice != null" >
        contract_price,
      </if>
      <if test="yearPurchaseVolume != null" >
        year_purchase_volume,
      </if>
      <if test="businessPerson != null" >
        business_person,
      </if>
      <if test="businessMobile != null" >
        business_mobile,
      </if>
      <if test="techPerson != null" >
        tech_person,
      </if>
      <if test="techMobile != null" >
        tech_mobile,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      create_date,
      <if test="updateBy != null" >
        update_by,
      </if>
      update_date,
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="energyType != null" >
        #{energyType,jdbcType=VARCHAR},
      </if>
      <if test="energyProvider != null" >
        #{energyProvider,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="transportationDate != null" >
        #{transportationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="yearPeriod != null" >
        #{yearPeriod,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null" >
        #{capacity,jdbcType=VARCHAR},
      </if>
      <if test="contractPrice != null" >
        #{contractPrice,jdbcType=VARCHAR},
      </if>
      <if test="yearPurchaseVolume != null" >
        #{yearPurchaseVolume,jdbcType=VARCHAR},
      </if>
      <if test="businessPerson != null" >
        #{businessPerson,jdbcType=VARCHAR},
      </if>
      <if test="businessMobile != null" >
        #{businessMobile,jdbcType=VARCHAR},
      </if>
      <if test="techPerson != null" >
        #{techPerson,jdbcType=VARCHAR},
      </if>
      <if test="techMobile != null" >
        #{techMobile,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      now(),
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      now(),
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.enn.vo.energy.business.po.EnergyPlanPo" >
    update energy_plan
    <set >
      <if test="energyType != null" >
        energy_type = #{energyType,jdbcType=VARCHAR},
      </if>
      <if test="energyProvider != null" >
        energy_provider = #{energyProvider,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=BIGINT},
      </if>
      <if test="transportationDate != null" >
        transportation_date = #{transportationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="transportationDate == null" >
        transportation_date = null,
      </if>
      <if test="yearPeriod != null" >
        year_period = #{yearPeriod,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null" >
        capacity = #{capacity,jdbcType=VARCHAR},
      </if>
      <if test="contractPrice != null" >
        contract_price = #{contractPrice,jdbcType=VARCHAR},
      </if>
      <if test="yearPurchaseVolume != null" >
        year_purchase_volume = #{yearPurchaseVolume,jdbcType=VARCHAR},
      </if>
      <if test="businessPerson != null" >
        business_person = #{businessPerson,jdbcType=VARCHAR},
      </if>
      <if test="businessMobile != null" >
        business_mobile = #{businessMobile,jdbcType=VARCHAR},
      </if>
      <if test="techPerson != null" >
        tech_person = #{techPerson,jdbcType=VARCHAR},
      </if>
      <if test="techMobile != null" >
        tech_mobile = #{techMobile,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      update_date = now() , 
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.enn.vo.energy.business.po.EnergyPlanPo" >
    update energy_plan
    set energy_type = #{energyType,jdbcType=VARCHAR},
      energy_provider = #{energyProvider,jdbcType=VARCHAR},
      cust_id = #{custId,jdbcType=BIGINT},
      transportation_date = #{transportationDate,jdbcType=TIMESTAMP},
      year_period = #{yearPeriod,jdbcType=VARCHAR},
      capacity = #{capacity,jdbcType=VARCHAR},
      contract_price = #{contractPrice,jdbcType=VARCHAR},
      year_purchase_volume = #{yearPurchaseVolume,jdbcType=VARCHAR},
      business_person = #{businessPerson,jdbcType=VARCHAR},
      business_mobile = #{businessMobile,jdbcType=VARCHAR},
      tech_person = #{techPerson,jdbcType=VARCHAR},
      tech_mobile = #{techMobile,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
    update_date  = now(),
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>