<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enn.energy.business.dao.MaxDemandMapper">


    <select id="findMaxDemand" resultType="com.enn.vo.energy.business.po.DataResp"
            parameterType="com.enn.vo.energy.business.req.DemandReq">
        select read_time as dateTime, demand_value as dateValue from
          electric_meter_reading_max_demand_minute where meter_no=#{meterNo} and read_time between #{startTime} and #{endTime}
    </select>


    <select id="getUnitByMete"   resultType="Integer"
            parameterType="com.enn.vo.energy.business.req.DemandReq">
		SELECT unit.*
        FROM cust_meter meter
        join accounting_unit unit
        on unit.id=meter.accounting_id
        WHERE meter.loop_number=#{meter} AND unit.accounting_type='02'
	</select>
</mapper>
