<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enn.energy.passage.dao.ElectricInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="RespResultMap" type="com.enn.vo.energy.system.ElectricInfo">
        <id column="id" property="id"/>
        <result column="cust_id" property="custId"/>
        <result column="unit" property="unit"/>
        <result column="basic_capacity" property="basicCapacity"/>
        <result column="ratified_max_demand" property="ratifiedMaxDemand"/>
        <result column="basic_trans_capacity" property="basicTransCapacity"/>
        <result column="basic_ele_price_max_capacity" property="basicElePriceMaxCapacity"/>
        <result column="start_execute_date" property="startExecuteDate"/>
        <result column="exe_special_price_start_date" property="exeSpecialPriceStartDate"/>
        <result column="tip_ele_price" property="exeSpecialPriceEndEate"/>
        <result column="tip_ele_price" property="tipElePrice"/>
        <result column="peak_ele_price" property="peakElePrice"/>
        <result column="valley_ele_price" property="valleyElePrice"/>
        <result column="flat_ele_price" property="flatElePrice"/>
    </resultMap>

    <select id="findElectricByCustId" resultMap="RespResultMap">
        SELECT
        e.id,
        e.cust_id,
        e.unit,
        e.basic_capacity,
        e.ratified_max_demand,
        e.basic_trans_capacity,
        e.basic_ele_price_max_capacity,
        e.start_execute_date,
        e.exe_special_price_start_date,
        e.tip_ele_price,
        e.valley_ele_price,
        e.peak_ele_price,
        e.flat_ele_price
        FROM
        electric_info e
        where cust_id=#{id}
        ORDER BY id DESC
        LIMIT 1
    </select>
</mapper>