<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enn.energy.passage.dao.SteamInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="RespResultMap" type="com.enn.vo.energy.system.SteamInfo">
        <id column="id" property="id"/>
        <result column="cust_id" property="custId"/>
        <result column="unit" property="unit"/>
        <result column="basic_price" property="basicPrice"/>
        <result column="start_execute_date" property="startExecuteDate"/>
        <result column="is_single_price" property="isSinglePrice"/>
    </resultMap>
    <select id="findSteamByCustId" resultMap="RespResultMap">
        SELECT
        s.id,
        s.cust_id,
        s.unit,
        s.basic_price,
        s.start_execute_date,
        s.is_single_price
        FROM
        steam_info s
        where cust_id=#{id}
        ORDER BY id DESC
        LIMIT 1
    </select>

    <!-- 根据表号获取企业用汽标准-获取当前时间最近并且小于等于当前时间 -->
    <select id="steamInfosByLoopNumber" resultType="com.enn.vo.energy.passage.vo.SteamInfoVo">
        SELECT
            t1.id,
            t1.basic_price AS basicPrice,
            t1.is_single_price AS isSinglePrice,
            t1.cust_id AS custId,
            t1.start_execute_date AS startExecuteDate,
            ( NOW( ) - t1.start_execute_date ) AS diffTime
        FROM
          steam_info t1
        LEFT JOIN accounting_unit t2 ON t1.cust_id = t2.cust_id
        LEFT JOIN cust_meter t3 ON t2.id = t3.accounting_id
        WHERE
          t3.loop_number = #{meterNo}
        AND
          t1.del_flag = 0
        AND
          t1.unit = '02'
        AND
          t1.start_execute_date &lt;= NOW( )
        ORDER BY
          diffTime ASC
        LIMIT 0,1;
    </select>
</mapper>