<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enn.energy.passage.dao.SteamMeterReadingMonthMapper">

    <resultMap id="BaseResultMap" type="com.enn.vo.energy.business.po.SteamMeterReadingMonthPo" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="meter_no" property="meterNo" jdbcType="VARCHAR" />
        <result column="metric" property="metric" jdbcType="VARCHAR" />
        <result column="read_time" property="readTime" jdbcType="VARCHAR" />
        <result column="use_quantity" property="useQuantity" jdbcType="DECIMAL" />
        <result column="fees" property="fees" jdbcType="DECIMAL" />
    </resultMap>

    <!-- 用汽前一个月信息 -->
    <select id="steamMonthData" resultType="com.enn.vo.energy.passage.vo.SteamVo">
        SELECT
            t1.id AS id,
            t1.meter_no AS meterNo,
            IFNULL(t1.use_quantity,0) AS useQuantity,
            IFNULL(t1.quantity,0) AS quantity,
            t1.fees AS fees
        FROM
            steam_meter_reading_month	t1
        WHERE
            t1.read_time = DATE_FORMAT( DATE_SUB( NOW( ), INTERVAL 1 MONTH ), '%Y-%m' )
            AND t1.metric = 'EMS.FsIntLP'
    </select>

    <!-- 用汽月(条件)信息 -->
    <select id="steamMonthDataByCondition" resultType="com.enn.vo.energy.passage.vo.SteamVo">
        SELECT
            t1.id AS id,
            t1.meter_no AS meterNo,
            IFNULL(t1.use_quantity,0) AS useQuantity,
            IFNULL(t1.quantity,0) AS quantity,
            t1.fees AS fees
        FROM
          steam_meter_reading_month	t1
        WHERE
            t1.metric = 'EMS.FsIntLP'
            <if test="meterNo != null and meterNo != ''">
                AND t1.meter_no = #{meterNo}
            </if>
            <if test="startTime != null and startTime !=''" >
                AND
                t1.read_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime !=''" >
                AND t1.read_time &lt;= #{endTime}
            </if>
    </select>

    <!-- 获取本年上月、上上个月用汽数据 -->
    <select id="percentVos" resultType="com.enn.vo.energy.passage.vo.SteamPercentVo">
        SELECT DISTINCT
            t1.id,
            IFNULL(t1.use_quantity,0).use_quantity AS useQuantity,
	        IFNULL(t2.use_quantity,0) AS lastUseQuantity,
            t1.meter_no AS meterNo,
            t1.read_time AS readTime,
            t2.read_time AS lastReadTime
        FROM
            steam_meter_reading_month t1
            LEFT JOIN steam_meter_reading_month t2 ON t1.meter_no = t2.meter_no
        WHERE
            t1.read_time = DATE_FORMAT( DATE_SUB( NOW( ), INTERVAL 1 MONTH ), '%Y-%m' )
            AND t2.read_time = DATE_FORMAT( DATE_SUB( NOW( ), INTERVAL 2 MONTH ), '%Y-%m' )
            AND t1.metric = 'EMS.FsIntLP'
    </select>

    <!-- 获取本年上月、上上个月用汽数据 -->
    <select id="lastPercentVos" resultType="com.enn.vo.energy.passage.vo.SteamPercentVo">
        SELECT DISTINCT
            t1.id,
            IFNULL(t1.use_quantity,0).use_quantity AS useQuantity,
	        IFNULL(t2.use_quantity,0) AS lastUseQuantity,
            t1.meter_no AS meterNo,
            t1.read_time AS readTime,
            t2.read_time AS lastReadTime
        FROM
            steam_meter_reading_month t1
            LEFT JOIN steam_meter_reading_month t2 ON t1.meter_no = t2.meter_no
        WHERE
            t1.read_time = DATE_FORMAT( DATE_SUB( NOW( ), INTERVAL 1 MONTH ), '%Y-%m' )
            AND t2.read_time = DATE_FORMAT( DATE_SUB( DATE_SUB( CURDATE( ), INTERVAL 1 YEAR ), INTERVAL 1 MONTH ), '%Y-%m' )
            AND t1.metric = 'EMS.FsIntLP'
    </select>

    <!-- 更新上月同比 -->
    <update id="updateBatch" parameterType="java.util.List">
        update steam_meter_reading_month
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="last_month_percent =case" suffix="end,">
                <foreach collection="monthDatas" item="cus">
                    <if test="cus.lastMonthPercent!=null and cus.lastMonthPercent != ''">
                        when id=#{cus.id} then #{cus.lastMonthPercent}
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            <foreach collection="monthDatas" separator="or" item="cus">
                id = #{cus.id}
            </foreach>
        </where>
    </update>

    <!-- 更新同期环比 -->
    <update id="updateLastBatch" parameterType="java.util.List">
        update steam_meter_reading_month
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="same_period_percent =case" suffix="end,">
                <foreach collection="monthDatas" item="cus">
                    <if test="cus.samePeriodPercent!=null and cus.samePeriodPercent != ''">
                        when id=#{cus.id} then #{cus.lastMonthPercent}
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            <foreach collection="monthDatas" separator="or" item="cus">
                id = #{cus.id}
            </foreach>
        </where>
    </update>

    <!-- 批量更新fees -->
    <update id="updateBatchFees" parameterType="java.util.List">
        update steam_meter_reading_month
        <trim prefix="set" suffixOverrides=",">

            <trim prefix="fees =case" suffix="end,">
                <foreach collection="steamVoList" item="cus">
                    <if test="cus.fees!=null and cus.fees != ''">
                        when id=#{cus.id} then #{cus.fees}
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            <foreach collection="steamVoList" separator="or" item="cus">
                id = #{cus.id}
            </foreach>
        </where>
    </update>
</mapper>